services:
  db:
    image: pgvector/pgvector:pg16
    container_name: rag_db
    restart: always
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: rag_api
    restart: always
    env_file:
      - ../.env
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data: